
ignored - other/Untitled Project.aep
ignored - other/unnamed.png
ignored - other/extensionizr_custom1664555594607.zip
ignored - other/ext/src/page_action/page_action.html
ignored - other/ext/src/inject/inject.js
ignored - other/ext/src/inject/inject.css
ignored - other/ext/src/bg/background.js
ignored - other/ext/src/.DS_Store
ignored - other/ext/manifest.json
ignored - other/ext/icons/icon48.png
ignored - other/ext/icons/icon32.png
ignored - other/ext/icons/icon19.png
ignored - other/ext/icons/icon16.png
ignored - other/ext/icons/icon128.png
ignored - other/ext/_locales/en/messages.json
ignored - other/18-Ain.svg.png
ignored - other/Adobe After Effects Auto-Save/Untitled Project auto-save 1.aep
ignored - other/Adobe After Effects Auto-Save/Untitled Project auto-save 2.aep
ignored - other/Adobe After Effects Auto-Save/Untitled Project auto-save 3.aep
